<h1>{{title}}</h1>

<form method="POST" action="/todos">
  <div>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="Title">
  </div>
  <div>
    <label for="content">Content</label>
    <input type="text" name="content" id="content" placeholder="Content">
  </div>
  <button type="submit">Submit</button>
</form>

<ul>
  {{#todos}}
  <li>
    <strong>{{title}}:</strong>
    <div>{{content}}</div>
    <a href="/todos/{{id}}">delete #{{id}}</a>
  </li>
  {{/todos}}
</ul>
